# dependencies
node_modules

# environment variables
.env
.env.local

# Next.js build output
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local database & build caches
frontend/.data/
*.tsbuildinfo

